Repository BoweryJG/repconnect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repconnect-team, @frontend-team, @harvey-team, @ai-team, @backend-team, @devops-team, @database-team, @webrtc-team, @tech-leads, @documentation-team, @security-team, @qa-team

fix: Resolve streaming endpoint 401 errors and logout functionality
  config-overrides.js
  src/App.css
  src/App.tsx
  src/components/ChatbotLauncher/AgentSelectionModal.tsx
  src/components/ChatbotLauncher/ChatModal.tsx
  src/components/PerformanceDashboard.tsx
Owners: @repconnect-team, @frontend-team

docs: Update CLAUDE.md with recent fixes and troubleshooting
  CLAUDE.md
Owners: @documentation-team

fix: Logout functionality and sidebar scrolling
  src/auth/AuthContext.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.css
Owners: @frontend-team

fix: Add debug logging and improve chatbot scrollbar styling
  src/auth/AuthContext.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.css
Owners: @frontend-team

fix: Add debugging for logout click handling
  src/components/PremiumNavbar.tsx
  src/components/UserAvatar.tsx
Owners: @frontend-team

fix: Add more debugging and visual indicators for UserAvatar
  src/components/UserAvatar.tsx
Owners: @frontend-team

fix: Add comprehensive logout debugging and localStorage cleanup
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Simplify logout to match CRM working pattern
  src/auth/AuthContext.tsx
  src/components/PremiumNavbar.tsx
Owners: @frontend-team

fix: Replace PremiumNavbar with RepSpheresNavbar for proper logout functionality
  src/App.tsx
  src/components/LoginModal.css
  src/components/LoginModal.jsx
  src/components/LogoutModal.jsx
  src/components/RepSpheresNavbar.css
  src/components/RepSpheresNavbar.jsx
Owners: @frontend-team

fix: Add type assertion for RepSpheresNavbar user prop
  src/App.tsx
Owners: @frontend-team

fix: Remove conflicting lazy-loaded LoginModal
  src/App.tsx
Owners: @frontend-team

fix: Update App.tsx import paths for production build
  src/App.tsx
Owners: @frontend-team

fix: Resolve all ESLint warnings in core components
  scripts/check-secrets.js
  src/App.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
  src/components/LoginModal.jsx
  src/components/LogoutModal.jsx
  src/components/RepSpheresNavbar.jsx
  src/pages/AuthCallback.tsx
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/webRTCClient.ts
Owners: @security-team, @frontend-team

fix: Resolve use-before-define error in SimpleVoiceModal
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @frontend-team

fix: Reorder function definitions to resolve use-before-define
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @frontend-team

fix: Authentication flow and navbar overcrowding issues
  src/App.tsx
  src/components/RepSpheresNavbar.css
  src/components/RepSpheresNavbar.jsx
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Force complete logout with page reload and storage cleanup
  src/App.tsx
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Comprehensive logout fix to prevent session persistence
  src/App.tsx
  src/auth/AuthContext.tsx
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/utils/authUtils.js
Owners: @frontend-team

fix: Simplify logout to match working apps pattern
  src/App.tsx
  src/auth/AuthContext.tsx
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/utils/authUtils.js
Owners: @frontend-team

test: Add automated logout testing scripts
  check-logout-state.js
  package-lock.json
  package.json
Owners: @repconnect-team, @tech-leads

fix: Prevent Harvey service from creating guest IDs after logout
  production-state.png
  src/services/harveyService.ts
  verify-auth-ui.js
  verify-logout-complete.js
Owners: @repconnect-team, @harvey-team, @ai-team

test: Add final logout verification script
  production-state.png
Owners: @repconnect-team

fix: Remove manual setSession from AuthCallback that was blocking auth
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Prevent App.tsx from interfering with auth callback
  NEXT-STEPS-IF-AUTH-FAILS.md
  debug-auth-callback.js
  src/App.tsx
  src/AppRouter.tsx
Owners: @documentation-team, @repconnect-team, @frontend-team

feat: Add visual debugging to auth callback route
  src/AppRouter.tsx
Owners: @frontend-team

fix: Simplify auth callback to prevent stuck state
  clearAuth.js
  src/pages/AuthCallback.tsx
Owners: @repconnect-team, @frontend-team

feat: Add clear auth button page
  public/clear-auth.html
Owners: @frontend-team

fix: Remove auth redirect loop and add debugging
  src/App.tsx
  src/AppRouter.tsx
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Fix auth immediately logging out user after login
  src/App.tsx
  src/auth/AuthContext.tsx
  src/components/PremiumNavbar.tsx
Owners: @frontend-team

fix: Fix nested auth providers causing immediate logout
  src/App.tsx
  src/AppRouter.tsx
Owners: @frontend-team

fix: Remove all debug console logs for cleaner auth flow
  src/App.tsx
  src/AppRouter.tsx
  src/auth/AuthContext.tsx
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Use AuthContext in LoginModal and restore implicit flow for auth
  src/auth/AuthContext.tsx
  src/components/PremiumNavbar.tsx
  src/components/auth/LoginModal.tsx
  src/lib/supabase.ts
Owners: @frontend-team

fix: Add missing supabase import to PremiumNavbar
  src/components/PremiumNavbar.tsx
Owners: @frontend-team

fix: Add anon key fallback to fix auth
  src/auth/AuthContext.tsx
  src/lib/supabase.ts
Owners: @frontend-team

fix: Use correct LoginModal that uses AuthContext
  src/App.tsx
Owners: @frontend-team

fix: Remove old LoginModal to prevent confusion
  src/components/LoginModal.jsx
Owners: @frontend-team

fix: Simplify authentication to match Canvas implementation
  src/App.tsx
  src/auth/AuthContext.tsx
  src/components/PremiumNavbar.tsx
  src/components/UserAvatar.tsx
  src/lib/supabase.ts
Owners: @frontend-team

fix: Replace AuthCallback with Canvas version that checks session
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Force Supabase to set session from OAuth tokens
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Remove auth timeout causing session reset
  src/auth/AuthContext.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
* @repconnect-team

# Frontend code owners
/src/ @frontend-team
/public/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team

# Harvey AI specific code
/src/components/Harvey* @harvey-team @ai-team
/src/services/harvey* @harvey-team @ai-team
/src/api/harvey* @harvey-team @backend-team

# Backend code owners
/server.js @backend-team
/src/api/ @backend-team
/scripts/ @backend-team @devops-team

# Database and migrations
/supabase/ @backend-team @database-team
/migrations/ @database-team

# WebRTC and real-time features
/src/services/*WebRTC* @webrtc-team @backend-team
/src/services/voiceMetrics* @webrtc-team

# Configuration and deployment
/.github/ @devops-team
/netlify.toml @devops-team @frontend-team
/package.json @tech-leads
/package-lock.json @tech-leads
/*.config.js @tech-leads

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Security-sensitive files
.env* @security-team @tech-leads
*secret* @security-team
*token* @security-team
*key* @security-team

# Testing
*.test.* @qa-team
*.spec.* @qa-team
/cypress/ @qa-team
/__tests__/ @qa-team
