Repository BoweryJG/repconnect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repconnect-team, @frontend-team, @harvey-team, @ai-team, @backend-team, @devops-team, @database-team, @webrtc-team, @tech-leads, @documentation-team, @security-team, @qa-team

fix: Remove all Canvas references and create RepConnect chat backend template
  osbackend-repconnect-chat-routes.js
  src/components/ChatbotLauncher/ChatModal.tsx
  src/services/serverAgentLoader.js
Owners: @repconnect-team, @frontend-team

feat: Add public chat endpoint support for unauthenticated users
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add detailed response logging to debug chat API
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add comprehensive logging and error handling to debug chat API
  src/components/ChatbotLauncher/ChatModal.tsx
  src/lib/supabase.ts
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add type annotation to fix TypeScript error
  src/App.tsx
Owners: @frontend-team

fix: Add type annotations to auth state change handler
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Add remaining TypeScript type annotations
  src/contexts/AdminAuthContext.tsx
Owners: @frontend-team

fix: Add final TypeScript type annotation
  src/contexts/AdminAuthContext.tsx
Owners: @frontend-team

fix: Add comprehensive debugging to agentChatAPI and fix TypeScript errors
  src/hooks/useCallHistory.ts
  src/services/callQueueService.ts
  src/services/phoneService.ts
Owners: @frontend-team

fix: Add type annotations to reduce function in useCallHistory
  src/hooks/useCallHistory.ts
Owners: @frontend-team

fix: Add remaining type annotations in useCallHistory
  src/hooks/useCallHistory.ts
Owners: @frontend-team

fix: Add type annotations to payload parameters in useCallHistory
  src/hooks/useCallHistory.ts
Owners: @frontend-team

fix: Add type annotation to record parameter in enrichPublicContacts
  src/lib/mockData/enrichPublicContacts.ts
Owners: @frontend-team

fix: Add timeout to supabase getSession call to prevent hanging
  src/lib/supabase.ts
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Remove credentials include to fix CORS preflight issues
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add detailed error diagnostics for Failed to fetch errors
  src/services/agentChatAPI.js
Owners: @frontend-team

feat: Add test endpoint verification to debug CORS
  src/services/agentChatAPI.js
Owners: @frontend-team

docs: Add production deployment confirmation with test results
  PRODUCTION_DEPLOYMENT_CONFIRMED.md
Owners: @documentation-team

feat: Add 5-minute free voice trial for unauthenticated users
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
  src/services/trialVoiceService.ts
Owners: @frontend-team

fix: Update toggleMute implementation for WebRTCClient compatibility
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @frontend-team

fix: Resolve TypeScript null type error in trialVoiceService
  src/services/trialVoiceService.ts
Owners: @frontend-team

fix: Update frontend to use single voice endpoint
  src/services/trialVoiceService.ts
Owners: @frontend-team

fix: Connect RepConnect chatbots to osbackend
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/services/agentChatAPI.js
  verify_chatbot.md
Owners: @frontend-team, @documentation-team

fix: Add detailed error logging for agent loading issue
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @frontend-team

fix: Import API_BASE_URL for debugging
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @frontend-team

fix: Use direct fetch instead of axios for agent loading
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @frontend-team

feat: Redesign chatbot launcher with impressive visual effects
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
Owners: @frontend-team

fix: Simplify complex sx props to fix TypeScript build error
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
Owners: @frontend-team

fix: Replace complex Box with Badge component to fix build error
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
Owners: @frontend-team

chore: Add console logs to trace voice modal rendering issue
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @frontend-team

fix: Convert VoiceModalWithTrial from Tailwind CSS to Material-UI
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @frontend-team

fix: Correct method name from startSession to startTrialVoiceSession
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @frontend-team

fix: Resolve TS2590 build error and implement simplified chatbot launcher
  config-overrides.js
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.css
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/components/ChatbotLauncher/SimpleVoiceModal.css
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
  tsconfig.json
Owners: @repconnect-team, @frontend-team

fix: Simplify voice modal to reduce TypeScript complexity
  config-overrides.js
  src/components/ChatbotLauncher/VoiceModalWithTrial.css
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @repconnect-team, @frontend-team

fix: Create simplified chat modal and remove unused complex components
  config-overrides.js
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/ChatbotLauncher.example.tsx
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/components/ChatbotLauncher/SimpleChatModal.css
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/index.ts
Owners: @repconnect-team, @frontend-team

fix: Resolve TypeScript build error in VoiceModalWithTrial
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
Owners: @frontend-team

fix: Fix chat responses not displaying in UI
  src/components/ChatbotLauncher/SimpleChatModal.tsx
Owners: @frontend-team

perf: Improve chat response time by optimizing auth checks
  src/services/agentChatAPI.js
Owners: @frontend-team

feat: Implement streaming chat responses in frontend
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Fix streaming endpoint and logout functionality
  src/auth/AuthContext.tsx
  src/services/agentChatAPI.js
Owners: @frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
* @repconnect-team

# Frontend code owners
/src/ @frontend-team
/public/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team

# Harvey AI specific code
/src/components/Harvey* @harvey-team @ai-team
/src/services/harvey* @harvey-team @ai-team
/src/api/harvey* @harvey-team @backend-team

# Backend code owners
/server.js @backend-team
/src/api/ @backend-team
/scripts/ @backend-team @devops-team

# Database and migrations
/supabase/ @backend-team @database-team
/migrations/ @database-team

# WebRTC and real-time features
/src/services/*WebRTC* @webrtc-team @backend-team
/src/services/voiceMetrics* @webrtc-team

# Configuration and deployment
/.github/ @devops-team
/netlify.toml @devops-team @frontend-team
/package.json @tech-leads
/package-lock.json @tech-leads
/*.config.js @tech-leads

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Security-sensitive files
.env* @security-team @tech-leads
*secret* @security-team
*token* @security-team
*key* @security-team

# Testing
*.test.* @qa-team
*.spec.* @qa-team
/cypress/ @qa-team
/__tests__/ @qa-team
