Repository BoweryJG/repconnect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repconnect-team, @frontend-team, @harvey-team, @ai-team, @backend-team, @devops-team, @database-team, @webrtc-team, @tech-leads, @documentation-team, @security-team, @qa-team

feat: Complete unified backend integration documentation for RepConnect
  CLAUDE.md
Owners: @documentation-team

fix: Prevent chatbot launcher from disappearing on auth state changes
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/UserAvatar.tsx
Owners: @frontend-team

feat: Make chatbot launcher available for all users
  CLAUDE.md
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @documentation-team, @frontend-team

fix: Disable Netlify secrets scanning for expected environment variables
  netlify.toml
Owners: @devops-team, @frontend-team

fix: Improve authentication callback handling for proper session establishment
  src/components/auth/LoginModal.tsx
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Restore custom favicon and improve mobile/social media previews
  public/index.html
  public/manifest.json
Owners: @frontend-team

fix: Prevent WebSocket authentication failures
  CLAUDE.md
  src/hooks/useCallHistory.ts
Owners: @documentation-team, @frontend-team

fix: Eliminate all unauthorized API calls
  src/App.tsx
  src/contexts/AdminAuthContext.tsx
  src/hooks/useIsAdmin.ts
  src/services/harveyService.ts
  src/services/phoneService.ts
Owners: @frontend-team, @harvey-team, @ai-team

fix: Disable automatic Supabase session detection
  src/lib/supabase.js
  src/services/harveyService.ts
Owners: @frontend-team, @harvey-team, @ai-team

fix: Authentication and API endpoint issues
  backend-routes/authRoutes.js
  src/services/agentChatAPI.js
Owners: @repconnect-team, @frontend-team

fix: Remove all console statements and unused variables
  scripts/check-secrets.js
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/components/InstantCoachConnect.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/auth/LoginModal.tsx
  src/config/api.ts
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/authService.ts
Owners: @security-team, @frontend-team

fix: Prevent unnecessary auth API calls on app initialization
  cookies.txt
  src/auth/AuthContext.tsx
  src/config/api.ts
Owners: @repconnect-team, @frontend-team

fix: Resolve chatbot launcher connection and UI issues
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/components/ChatbotLauncher/styles/AgentCard.css
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/webRTCClient.ts
Owners: @frontend-team

test: Add auth debug page
  public/auth-test.html
Owners: @frontend-team

fix: Remove auth interference - stop calling loginWithCookies on every load
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Simplify auth callback - let Supabase handle OAuth automatically
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Remove test file and ensure app loads
  public/auth-test.html
Owners: @frontend-team

fix: Remove cookie auth layer for pure Supabase auth
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Remove cookie checks from agent services
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add proper Supabase auth configuration
  src/lib/supabase.ts
Owners: @frontend-team

fix(auth): Remove cookie layer and use pure Supabase auth
  scripts/check-secrets.js
  src/middleware/authMiddleware.js
  src/middleware/socketAuthMiddleware.js
  src/pages/AuthCallback.tsx
  src/services/authService.ts
Owners: @security-team, @frontend-team

fix(auth): Manually set session from OAuth tokens in AuthCallback
  src/pages/AuthCallback.tsx
Owners: @frontend-team

feat(auth): Add logout modal and fix user display
  src/components/PremiumNavbar.tsx
  src/components/common/GlobalAuthModal.css
  src/components/common/GlobalLogoutModal.tsx
Owners: @frontend-team

fix(auth): Handle logout errors and ensure redirect
  src/components/PremiumNavbar.tsx
  src/components/common/GlobalLogoutModal.tsx
Owners: @frontend-team

fix(auth): Add debugging logs to identify logout issue
  src/components/PremiumNavbar.tsx
  src/components/common/GlobalLogoutModal.tsx
Owners: @frontend-team

fix: Resolve logout and auth callback issues
  src/components/PremiumNavbar.tsx
  src/components/common/GlobalLogoutModal.tsx
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Remove forced redirect that broke login flow
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Add debug logging and fallback for chatbot launcher issues
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/services/agentBackendAPI.js
Owners: @frontend-team

chore: Add visual indicators and console logs to debug chatbot
  src/App.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @frontend-team

fix: Agent loading from osbackend and add all frontend agents to Supabase
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/agents/remoteAgentLoader.ts
  src/components/ChatbotLauncher/types.ts
  src/services/agentBackendAPI.js
Owners: @frontend-team

refactor: Remove local agent definitions - all agents now load from osbackend
  src/components/ChatbotLauncher/agents/agentConfigs.ts
Owners: @frontend-team

docs: Update CLAUDE.md with B2B knowledge domain system
  CLAUDE.md
Owners: @documentation-team

feat: Add knowledge domain display to agent cards
  src/components/ChatbotLauncher/AgentKnowledgeDomains.tsx
  src/components/ChatbotLauncher/AgentSelectionModal.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
  src/components/ChatbotLauncher/types.ts
Owners: @frontend-team

fix: Replace Box component with div in AgentSelectionModal to resolve TypeScript union type error
  src/components/ChatbotLauncher/AgentSelectionModal.tsx
Owners: @frontend-team

chore: Remove unused Box import from AgentSelectionModal
  src/components/ChatbotLauncher/AgentSelectionModal.tsx
Owners: @frontend-team

fix: Add detailed logging for agent loading and public access debugging
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/services/agentBackendAPI.js
Owners: @frontend-team

fix: Remove complex caching layers and call backend directly for agents
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
Owners: @frontend-team

fix: Update chat API to use RepConnect endpoints instead of Canvas endpoints
  src/services/agentChatAPI.js
Owners: @frontend-team

chore: Add console logging to trace chat API issues
  src/components/ChatbotLauncher/ChatModal.tsx
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Add detailed logging and timeout handling to chat API
  src/services/agentChatAPI.js
Owners: @frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
* @repconnect-team

# Frontend code owners
/src/ @frontend-team
/public/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team

# Harvey AI specific code
/src/components/Harvey* @harvey-team @ai-team
/src/services/harvey* @harvey-team @ai-team
/src/api/harvey* @harvey-team @backend-team

# Backend code owners
/server.js @backend-team
/src/api/ @backend-team
/scripts/ @backend-team @devops-team

# Database and migrations
/supabase/ @backend-team @database-team
/migrations/ @database-team

# WebRTC and real-time features
/src/services/*WebRTC* @webrtc-team @backend-team
/src/services/voiceMetrics* @webrtc-team

# Configuration and deployment
/.github/ @devops-team
/netlify.toml @devops-team @frontend-team
/package.json @tech-leads
/package-lock.json @tech-leads
/*.config.js @tech-leads

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Security-sensitive files
.env* @security-team @tech-leads
*secret* @security-team
*token* @security-team
*key* @security-team

# Testing
*.test.* @qa-team
*.spec.* @qa-team
/cypress/ @qa-team
/__tests__/ @qa-team
