Repository BoweryJG/repconnect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repconnect-team, @frontend-team, @harvey-team, @ai-team, @backend-team, @devops-team, @database-team, @webrtc-team, @tech-leads, @documentation-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
* @repconnect-team

# Frontend code owners
/src/ @frontend-team
/public/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team

# Harvey AI specific code
/src/components/Harvey* @harvey-team @ai-team
/src/services/harvey* @harvey-team @ai-team
/src/api/harvey* @harvey-team @backend-team

# Backend code owners
/server.js @backend-team
/src/api/ @backend-team
/scripts/ @backend-team @devops-team

# Database and migrations
/supabase/ @backend-team @database-team
/migrations/ @database-team

# WebRTC and real-time features
/src/services/*WebRTC* @webrtc-team @backend-team
/src/services/voiceMetrics* @webrtc-team

# Configuration and deployment
/.github/ @devops-team
/netlify.toml @devops-team @frontend-team
/package.json @tech-leads
/package-lock.json @tech-leads
/*.config.js @tech-leads

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Security-sensitive files
.env* @security-team @tech-leads
*secret* @security-team
*token* @security-team
*key* @security-team

# Testing
*.test.* @qa-team
*.spec.* @qa-team
/cypress/ @qa-team
/__tests__/ @qa-team

Fix audio connection issues for voice agents
  src/AppRouter.tsx
  src/components/AudioTestComponent.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/services/webRTCClient.ts
Owners: @frontend-team

feat: Update agent names to be more iconic and memorable
  src/components/AudioTestComponent.tsx
  src/components/ChatbotLauncher/agents/agentConfigs.ts
Owners: @frontend-team

fix: Apply prettier formatting and fix ESLint warning
  src/AppRouter.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/components/ElevenLabsTTSDemo.tsx
  src/services/webRTCClient.ts
Owners: @frontend-team

fix: Resolve TypeScript union type complexity in AudioTestComponent
  src/components/AudioTestComponent.tsx
Owners: @frontend-team

fix: Add CSP headers for Netlify deployment to allow Google Fonts
  public/_headers
Owners: @frontend-team

fix: Use inline styles instead of sx prop to avoid TypeScript union type error
  src/components/AudioTestComponent.tsx
Owners: @frontend-team

fix: Replace Material-UI Box with div to resolve TypeScript union type error
  src/components/AudioTestComponent.tsx
Owners: @frontend-team

fix: Replace all localhost references with production URLs
  src/components/CallSummaryView.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/config/api.ts
  src/lib/stripe.ts
  src/services/authService.ts
  src/services/webRTCSignalingService.ts
Owners: @frontend-team

Fix authentication by adding Authorization header with Supabase token
  src/config/api.ts
  src/services/authService.ts
Owners: @frontend-team

Fix prettier formatting in authService.ts
  src/services/authService.ts
Owners: @frontend-team

Fix authentication redirect loop
  src/config/api.ts
  src/services/authService.ts
Owners: @frontend-team

Fix authentication issues
  src/config/api.ts
  src/services/authService.ts
Owners: @frontend-team

Fix prettier formatting in authService.ts
  src/services/authService.ts
Owners: @frontend-team

Rename project from repconnect1 to repconnect
  AGENTBACKEND_MIGRATION.md
  CALL_FORWARDING_SETUP.md
  DEPLOYMENT_SUMMARY.md
  HARVEY_DEPLOYMENT_GUIDE.md
  LOGGER_IMPLEMENTATION.md
  PRODUCTION_ENV_VARS.md
  PRODUCTION_READINESS_REPORT.md
  README.md
  harvey-coach.service
  package.json
Owners: @documentation-team, @repconnect-team, @tech-leads

Update package-lock.json with new project name
  package-lock.json
Owners: @tech-leads

Implement Supabase authentication across all frontend apps
  ADMIN_COMMAND_CENTER_SETUP.md
  REQUIRED_ENV_VARS.md
  SUPABASE_AUTH_IMPLEMENTATION_SUMMARY.md
  SUPABASE_AUTH_SETUP.md
  src/AppRouter.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminLogin.tsx
  src/components/admin/AdminRoute.tsx
  src/components/admin/AgentEditor.tsx
  src/components/admin/index.ts
  src/contexts/AdminAuthContext.tsx
  src/hooks/useIsAdmin.ts
  src/lib/supabase.js
  src/lib/supabase.ts
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/webRTCClient.ts
Owners: @documentation-team, @frontend-team

Fix Prettier formatting issues for Netlify deployment
  src/AppRouter.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AdminLogin.tsx
  src/components/admin/AdminRoute.tsx
  src/components/admin/AgentEditor.tsx
  src/components/admin/index.ts
  src/config/api.ts
  src/contexts/AdminAuthContext.tsx
  src/hooks/useIsAdmin.ts
  src/lib/supabase.ts
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/webRTCClient.ts
Owners: @frontend-team

Fix TypeScript type errors in auth headers
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
Owners: @frontend-team

Fix Prettier formatting in auth service files
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
Owners: @frontend-team

Fix TypeScript error for undefined category values
  src/components/admin/AdminDashboard.tsx
Owners: @frontend-team

Fix Prettier formatting for categories array
  src/components/admin/AdminDashboard.tsx
Owners: @frontend-team

fix: Resolve critical production deployment issues
  .eslintrc.json
  .lintstagedrc.json
  FINAL_PRODUCTION_READINESS_REPORT.md
  SECURITY_AUDIT_REPORT.md
  jest.config.js
  package.json
  remove-secrets-from-history.sh
  scripts/check-secrets.js
  src/App.test.tsx
  src/App.tsx
  src/__mocks__/axios.js
  src/__tests__/App.integration.test.tsx
  src/api/__tests__/apiEndpoints.test.ts
  src/api/harveyMultiAgentRoutes.js
  src/api/index.ts
  src/auth/AuthContext.tsx
  src/components/ActiveChatInterface.tsx
  src/components/__tests__/AuthComponents.test.tsx
  src/components/__tests__/ContactComponents.test.tsx
  src/components/__tests__/HarveyVoiceCoach.test.tsx
  src/components/__tests__/HarveyWarRoom.test.tsx
  src/services/__tests__/harveyService.test.ts
  src/setupTests.ts
  src/utils/errorHandling.ts
Owners: @repconnect-team, @documentation-team, @tech-leads, @security-team, @qa-team, @frontend-team, @backend-team

fix: Update pre-push hook to check build instead of tests
  .husky/pre-push
Owners: @repconnect-team

fix: Add authentication headers to serverAgentLoader.js
  src/services/serverAgentLoader.js
Owners: @frontend-team

fix: Implement proper authentication and coaching session endpoints
  backend-routes/authRoutes.js
  package-lock.json
  package.json
  src/components/InstantCoachConnect.tsx
Owners: @repconnect-team, @tech-leads, @frontend-team

feat: Implement comprehensive authentication security across all endpoints
  WEBSOCKET_AUTH_README.md
  backend-routes/callSummaryRoutes.js
  backend-routes/coachingSessionRoutes.js
  docs/websocket-authentication.md
  scripts/check-secrets.js
  server.js
  src/api/harveyMultiAgentRoutes.js
  src/api/harveyRoutes.js
  src/middleware/socketAuthMiddleware.js
Owners: @documentation-team, @repconnect-team, @security-team, @backend-team, @frontend-team

feat: Implement production-ready conference bridge for Harvey Whisper
  CLAUDE.md
  CONFERENCE_BRIDGE_SCHEMA.sql
  CONFERENCE_BRIDGE_TESTING.md
  backend-routes/twilioWebhookRoutes.js
Owners: @documentation-team, @repconnect-team

feat: Consolidate Supabase databases to single Sphere1a instance
  src/lib/supabase.js
  src/lib/supabase.ts
Owners: @frontend-team

fix: Update agent API endpoints to match osbackend routing
  src/services/agentBackendAPI.js
  src/services/serverAgentLoader.js
Owners: @frontend-team

fix: Ensure local agents always work with improved fallback logic
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/agents/agentConfigs.ts
  src/services/agentBackendAPI.js
Owners: @frontend-team

feat: Optimize mobile chatbot launcher carousel
  public/index.html
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
Owners: @frontend-team

fix: Resolve TypeScript union type compilation error
  src/components/ChatbotLauncher/ChatbotLauncher.tsx
Owners: @frontend-team

fix: Resolve agent connection issues in ChatbotLauncher
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/services/agentChatAPI.js
Owners: @frontend-team

feat: Integrate GlobalRepSpheres modal styling with full GSAP animations
  src/components/auth/LoginModal.css
  src/components/auth/LoginModal.tsx
Owners: @frontend-team

fix: Standardize axios usage to fix API URL protocol issues
  src/components/AudioTestComponent.tsx
  src/components/InstantCoachConnect.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AgentEditor.tsx
  src/config/api.ts
  src/services/authService.ts
Owners: @frontend-team

debug: Add logging to auth service to debug cookie exchange
  src/services/authService.ts
Owners: @frontend-team

fix: Resolve API endpoint conflicts between Canvas and RepConnect apps
  src/components/AudioTestComponent.tsx
  src/components/InstantCoachConnect.tsx
  src/components/admin/AdminDashboard.tsx
  src/components/admin/AgentEditor.tsx
  src/services/agentBackendAPI.js
Owners: @frontend-team

feat: Update InstantCoachConnect for unified agents with voice support
  src/components/InstantCoachConnect.tsx
Owners: @frontend-team

fix: Add type annotation for agent parameter
  src/components/InstantCoachConnect.tsx
Owners: @frontend-team

fix: Remove undefined specialization reference
  src/components/InstantCoachConnect.tsx
Owners: @frontend-team
