Repository BoweryJG/repconnect, changes with the owners that .github/CODEOWNERS names for each.
All owners: @repconnect-team, @frontend-team, @harvey-team, @ai-team, @backend-team, @devops-team, @database-team, @webrtc-team, @tech-leads, @documentation-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic review assignment
# Each line is a file pattern followed by one or more owners

# Default owners for everything in the repo
* @repconnect-team

# Frontend code owners
/src/ @frontend-team
/public/ @frontend-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team

# Harvey AI specific code
/src/components/Harvey* @harvey-team @ai-team
/src/services/harvey* @harvey-team @ai-team
/src/api/harvey* @harvey-team @backend-team

# Backend code owners
/server.js @backend-team
/src/api/ @backend-team
/scripts/ @backend-team @devops-team

# Database and migrations
/supabase/ @backend-team @database-team
/migrations/ @database-team

# WebRTC and real-time features
/src/services/*WebRTC* @webrtc-team @backend-team
/src/services/voiceMetrics* @webrtc-team

# Configuration and deployment
/.github/ @devops-team
/netlify.toml @devops-team @frontend-team
/package.json @tech-leads
/package-lock.json @tech-leads
/*.config.js @tech-leads

# Documentation
*.md @documentation-team
/docs/ @documentation-team

# Security-sensitive files
.env* @security-team @tech-leads
*secret* @security-team
*token* @security-team
*key* @security-team

# Testing
*.test.* @qa-team
*.spec.* @qa-team
/cypress/ @qa-team
/__tests__/ @qa-team

fix: Force clear all auth storage on sign out
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Add debug logging to identify auth issues
  src/App.tsx
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Authentication and implement guest mode with voice time limits
  ADMIN_COMMAND_CENTER_SETUP.md
  FINAL_PRODUCTION_READINESS_REPORT.md
  README.md
  REQUIRED_ENV_VARS.md
  SUPABASE_AUTH_IMPLEMENTATION_SUMMARY.md
  SUPABASE_AUTH_SETUP.md
  SUPABASE_PROJECT_INFO.md
  debug-auth.js
  src/App.tsx
  src/components/auth/LoginModal.tsx
  src/lib/supabase.ts
  src/lib/voiceTimeTracking.ts
  src/pages/AuthCallback.tsx
Owners: @documentation-team, @repconnect-team, @frontend-team

fix: Add isGuest property to AuthContext and enhance auth debugging
  src/auth/AuthContext.tsx
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Standardize logout modal and fix hanging signOut issue
  src/App.tsx
  src/auth/AuthContext.tsx
  src/components/LogoutModal.jsx
Owners: @frontend-team

fix: Reset isSigningOutRef flag after logout
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Increase auth callback delay to 3 seconds
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Use window.location.href instead of React Router navigate
  src/pages/AuthCallback.tsx
Owners: @frontend-team

feat: Replace broken auth with Supabase Auth UI
  package-lock.json
  package.json
  src/App.tsx
  src/AppRouter.tsx
  src/auth/SimpleAuth.tsx
Owners: @tech-leads, @frontend-team

fix: Add useAuth compatibility wrapper
  src/auth/useAuth.ts
Owners: @frontend-team

Revert "feat: Replace broken auth with Supabase Auth UI"
  package-lock.json
  package.json
  src/App.tsx
  src/AppRouter.tsx
  src/auth/SimpleAuth.tsx
Owners: @tech-leads, @frontend-team

Revert "fix: Add useAuth compatibility wrapper"
  src/auth/useAuth.ts
Owners: @frontend-team

fix: Use window.location.replace for hard auth redirect
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Force immediate redirect using full origin URL
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Force auth callback redirect by unmounting component
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Remove conflicting reload call
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Use document.location.replace for absolute redirect
  src/pages/AuthCallback.tsx
Owners: @frontend-team

fix: Remove timeout from signOut to let it complete
  public/clear-auth-now.html
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Prevent AuthContext from initializing on callback page
  src/auth/AuthContext.tsx
Owners: @frontend-team

fix: Prevent AuthContext from initializing on callback page
  _redirects
  netlify.toml
  public/_redirects
  public/auth-callback-handler.html
  src/AppRouter.tsx
  src/auth/AuthContext.tsx
  src/pages/AuthCallback.tsx
Owners: @repconnect-team, @devops-team, @frontend-team

fix: Complete auth redirect fix - handle OAuth tokens in URL hash
  public/auth-callback-handler.html
  src/auth/AuthContext.tsx
  tsconfig.json
Owners: @frontend-team, @repconnect-team

fix: Remove invalid onEmailAuth prop from LoginModal
  src/App.tsx
Owners: @frontend-team

fix: Clean up ESLint warnings - remove all console statements
  src/App.tsx
  src/auth/AuthContext.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
  src/components/PremiumNavbar.tsx
  src/components/RepSpheresNavbar.jsx
  src/components/UserAvatar.tsx
  src/components/common/GlobalLogoutModal.tsx
  src/pages/AuthCallback.tsx
  src/services/agentChatAPI.js
Owners: @frontend-team

fix: Clean up ESLint warnings - remove all console statements
  src/api/harveyRoutes.js
  src/components/WebRTCVoiceInterface.tsx
  src/services/agentBackendAPI.js
  src/services/agentChatAPI.js
  src/services/authService.ts
  src/services/serverAgentLoader.js
  src/services/trialVoiceService.ts
  src/services/webRTCClient.ts
Owners: @backend-team, @frontend-team

fix: Make unified-auth compatible with Create React App build system
  src/auth/UnifiedAuthWrapper.tsx
  src/auth/initializeUnifiedAuth.ts
  src/unified-auth/index.ts
  src/unified-auth/src/constants.ts
Owners: @frontend-team

fix: enable cross-domain SSO with proper cookie configuration
  backend-routes/authRoutes.js
Owners: @repconnect-team

feat: Implement dual-mode conversational agents with WebSocket chat
  PHASE_1_IMPLEMENTATION.md
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.css
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/services/websocketChatService.ts
Owners: @documentation-team, @frontend-team

feat: Phase 2.1 - Auto-start microphone when voice modal opens
  CONVERSATIONAL_AGENTS_PLAN.md
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/SimpleVoiceModal.css
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @documentation-team, @frontend-team

feat: Phase 2.2 - Add continuous conversation flow with WebRTC
  src/components/ChatbotLauncher/SimpleVoiceModal.css
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
  src/services/webRTCClient.ts
Owners: @frontend-team

feat: Phase 2.4 - Integrate RepX tier time limits
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @frontend-team

feat: Phase 3 - Add RepX tier authentication checks
  .eslintignore
  src/components/ChatbotLauncher/SimpleChatbotLauncher.css
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @repconnect-team, @frontend-team

feat: Phase 4 - Implement WebSocket authentication & session management
  src/services/webRTCClient.ts
  src/services/websocketChatService.ts
Owners: @frontend-team

feat: Add markdown rendering with syntax highlighting to chat UI
  package-lock.json
  package.json
  src/components/ChatbotLauncher/MessageContent.css
  src/components/ChatbotLauncher/MessageContent.tsx
  src/components/ChatbotLauncher/SimpleChatModal.tsx
Owners: @tech-leads, @frontend-team

refactor: Clean up old components and fix ESLint warnings
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/components/ChatbotLauncher/VoiceModalWebRTC.tsx
  src/components/ChatbotLauncher/VoiceModalWithTrial.tsx
  src/services/websocketChatService.ts
Owners: @frontend-team

perf: Add lazy loading, caching, and WebSocket optimizations
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/services/websocketChatService.ts
  src/utils/agentCache.ts
Owners: @frontend-team

perf: Add React.memo to prevent unnecessary re-renders
  src/components/ChatbotLauncher/MessageContent.tsx
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ChatbotLauncher/SimpleChatbotLauncher.tsx
  src/components/ChatbotLauncher/SimpleVoiceModal.tsx
Owners: @frontend-team

feat: Complete production readiness to 100%
  src/App.tsx
  src/components/ChatbotLauncher/ChatbotIntegration.tsx
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/ErrorBoundary.tsx
  src/components/LoadingStates.tsx
  src/components/UserFeedback.tsx
  src/services/agentChatAPI.js
  src/services/websocketChatService.ts
  src/unified-auth/src/UnifiedAuthContext.tsx
  src/utils/apiRetry.ts
  src/utils/prodLogger.ts
Owners: @frontend-team

fix: Resolve TypeScript complexity issue in LoadingStates
  src/components/LoadingStates.tsx
Owners: @frontend-team

docs: Update CLAUDE.md with production readiness details
  CLAUDE.md
Owners: @documentation-team

feat: Implement client-side rate limiting
  CLAUDE.md
  src/App.test.tsx
  src/__tests__/App.integration.test.tsx
  src/api/__tests__/apiEndpoints.test.ts
  src/components/ChatbotLauncher/SimpleChatModal.tsx
  src/components/RateLimitFeedback.tsx
  src/components/__tests__/AuthComponents.test.tsx
  src/components/__tests__/ContactComponents.test.tsx
  src/components/__tests__/HarveyVoiceCoach.test.tsx
  src/components/__tests__/HarveyWarRoom.test.tsx
  src/services/__tests__/authService.test.ts
  src/services/__tests__/harveyService.test.ts
  src/services/agentChatAPI.js
  src/utils/rateLimiter.ts
Owners: @documentation-team, @qa-team, @frontend-team
